<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="table-responsive">
                  <table class="table mb-0">
                      <thead class="small text-uppercase bg-body text-muted">
                          <tr>
                              <th>Descricao</th>
                              <th>Valor</th>
                          </tr>
                      </thead>
                      <tbody>
                          <ng-container *ngFor="let gasto of listaDeGastos">
                              <tr class="align-middle">
                                  <td>
                                      {{ gasto.descricao }}
                                  </td>
                                  <td>
                                      {{ gasto.valor }}
                                  </td>
                              </tr>
                          </ng-container>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>




