<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-card">
                <div class="card-header">
                    <div class="row filter-row">
                        <div class="col-sm-4">
                            <input type="text" [(ngModel)]="listFilter" class="form-control" placeholder="Digite para buscar" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 mt-3">
                        <thead class="text-muted">
                            <tr>
                                <th>Descricao</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" *ngFor="let gasto of filteredGastos()">
                                <td>{{ gasto.descricao }}</td>
                                <td>{{ gasto.valor }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
